:root {
  --orderBar: column;
  --curseEmoji: '💀';
  --blessEmoji: '🙏';
  --curseBarColor: rgba(0, 63, 92, 0.9);
  --blessBarColor: rgba(255, 166, 0, 0.9);
  --numberColor: rgba(255, 255, 255, 0.9);
}

body {
  font-family: monospace;
  margin-bottom: 20vh;
}

#redemption {
  min-width: 300px;
  display: flex;
  flex-direction: var(--orderBar);
  transition: opacity .6s ease-out;
  opacity: 0;
}

#redemption.active {
  opacity: 1;
}

.counterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  height: 3em;
}

.number {
  color: var(--numberColor);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

.number > span {
  animation: fade 1s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.counterContainer div:before,
.counterContainer div:after {
  padding: 0 12px;
  transform: scale(0.8);
  display: inline-block;
}

#curseCounter:not(:empty):before {
  content: var(--curseEmoji);
}

#blessCounter:not(:empty):after {
  content: var(--blessEmoji);
}

.progressBar {
  height: max-content;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
}

.progressBar:not(:has(div[style*="width: 0%;"])) {
  gap: 4px;
}

.progressBar div {
  width: 50%;
  transition: width ease-in-out .8s;
}

.progressBar div:first-child {
  background: var(--curseBarColor);
}

.progressBar div:last-child {
  background: var(--blessBarColor);
}

div:has(> pre) {
  background: lightgray;
  border: 1px solid slategrey;
  border-radius: 0.2em;
  width: max-content;
}

pre {
  padding: 1em;
  margin: 0;
  filter: blur(3px);
  cursor: pointer;
}

pre.show:hover {
  filter: blur(0);
  cursor: inherit;
}


.loader {
  --main-color: gray;
  margin: auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--main-color);
  box-shadow: 32px 0 var(--main-color), -32px 0 var(--main-color);
  position: relative;
  animation: flash 0.8s ease-out infinite alternate;
}

.loader.error {
  --main-color: lightcoral;
  animation: flash 2s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: lightgray;
    box-shadow: 32px 0 lightgray, -32px 0 var(--main-color);
  }
  50% {
    background-color: var(--main-color);
    box-shadow: 32px 0 lightgray, -32px 0 lightgray;
  }
  100% {
    background-color: lightgray;
    box-shadow: 32px 0 var(--main-color), -32px 0 lightgray;
  }
}

.debug {
  position: fixed;
  bottom: 10px;
}

.debug:before {
  content: 'debug :';
  position: relative;
  top: -1em;
}

summary {
  cursor: pointer;
}